body {
  margin: 1em 96px;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
#divGraphPower { width: 98%; height: 580px; }
#divGraphGas, #divGraphGasMonth, #divGraphTemperature { width: 98%; height: 480px; }
#btnback:hover, #btnnext:hover, #btnbackMonth:hover, #btnnextMonth:hover { filter: brightness(125%); user-select: none; }
#btnback, #btnnext { user-select: none; }
#textSelectedDate, #textSelectedMonth { vertical-align: top; user-select: none; }
#pvcurrentpower { float: right;  margin-right: 1em: }
#spanGasRate { cursor: pointer; }
#issues { background-color: #FF3232; color: #fefefe; }
.btndownload { width: 32px; height: 32px; text-align: center; padding: 0; margin: 0; color: white; font-size: 16pt; border-block-style: solid;
	border-color: #d2d2d2;
	border-style: solid;
	background-color: grey;
}
.btndownload:hover {
	background-color: blue;
}
#divCurrentTemperature {
	text-align: center;
	margin-bottom: -32px;
	line-height: 0.2em;
	font-size: 10pt;
	opacity: 0.75;
}
.temperatureH3 {
	color: #6495ed;
	text-align: center;
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    body {
         margin: 0.5em 1em;
    }
    .mobile-hidden {
        display: none;
    }
}
/* For y-axis label */
.dygraph-label-rotate-left {
  text-align: center;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
/* For y2-axis label */
.dygraph-label-rotate-right {
  text-align: center;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.gasuseTodayH3, .avgTempTodayH3 {
  font-size: 8pt;
  color: gray;
}
.hidden {
    visibility: hidden;
}
.smalltext {
  font-size: 10pt;
}